<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home') }}">
            <strong class="brand-name">Invenzo</strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('order_management') }}">Order-Management</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('inventory') }}">Inventory-Tracking</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('barcodes') }}">Barcode-Scanning</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('integrations2') }}">Integrations</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('warehouse_management') }}">Warehouse-Managment</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('reports') }}">Reports</a></li>
                <li class="nav-item"><a class="nav-link btn btn-primary text-white" href="{{ url_for('team') }}">Talk to Us</a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <a href="{{ url_for('home') }}" class="btn btn-outline-dark">Home</a>
        </div>
    </div>
</nav>